[submodule "vulnerability-db"]
	path = vulnerability-db
	url = git@github.com:filewalkwithme/vulnerability-db.git
	branch = filewalkwithme
[submodule "vulcan-api"]
	path = vulcan-api
	url = git@github.com:filewalkwithme/vulcan-api.git
	branch = filewalkwithme
[submodule "vulnerability-db-api"]
	path = vulnerability-db-api
	url = git@github.com:filewalkwithme/vulnerability-db-api.git
	branch = filewalkwithme
[submodule "vulcan-ui"]
	path = vulcan-ui
	url = git@github.com:filewalkwithme/vulcan-ui.git
	branch = filewalkwithme
[submodule "vulcan-scan-engine"]
	path = vulcan-scan-engine
	url = git@github.com:filewalkwithme/vulcan-scan-engine.git
	branch = filewalkwithme
[submodule "vulcan-persistence"]
	path = vulcan-persistence
	url = git@github.com:filewalkwithme/vulcan-persistence.git
	branch = filewalkwithme
